.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax>.jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;
    z-index: -1;
}